.card-no-data {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.icon_card_no_data {
  color: #ff5733;
  width: 200px;
  height: 200px;
  align-self: center;
}

ion-text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
