ion-card {
  margin: 10px;
}
style.border-top-color {
  color: aqua;
}
ion-card-header {
  background-color: cornflowerblue;
}
.card_header {
  background-color: orange;
}
.card_custom {
  padding: 0;
}
