<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ dashboard.cardYearsMultiple.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="dashboard.cardYearsMultiple.content.length > 0">
      <ion-item *ngFor="let item of dashboard.cardYearsMultiple.content">
        <ion-label>Year: {{ item.year }}</ion-label>
        <ion-label>Win Count: {{ item.winnerCount }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ dashboard.cardTop3.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="dashboard.cardTop3.content.length > 0">
      <ion-item *ngFor="let item of dashboard.cardTop3.content">
        <ion-label>Name: {{ item.name }}</ion-label>
        <ion-label> {{ item.winCount }} wins</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ dashboard.cardInterval.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card_custom">
      <ion-card-header class="card_header">
        <ion-card-title>Maximum</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Producer: {{ dashboard.cardInterval.content.max[0].producer
          }}</ion-label>
        <ion-label>Interval : {{ dashboard.cardInterval.content.max[0].interval
          }}</ion-label>
        <ion-label>Previous year : {{ dashboard.cardInterval.content.max[0].previousWin
          }}</ion-label>
        <ion-label>Following year : {{
          dashboard.cardInterval.content.max[0].followingWin}}</ion-label>
      </ion-item>
      <ion-card-header class="card_header">
        <ion-card-title>Minimum</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Producer: {{ dashboard.cardInterval.content.min[0].producer
          }}</ion-label>
        <ion-label>Interval : {{ dashboard.cardInterval.content.min[0].interval
          }}</ion-label>
        <ion-label>Previous year : {{ dashboard.cardInterval.content.min[0].previousWin
          }}</ion-label>
        <ion-label>Following year : {{
          dashboard.cardInterval.content.min[0].followingWin}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ dashboard.cardWinnerByYear.title }}</ion-card-title>
    </ion-card-header>
    <ion-item id="open-modal">
      <ion-label>Filter by year</ion-label>
      <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
      <ion-button fill="outline" size="small" slot="end" (click)="applyFilters()">
        OK
      </ion-button>
    </ion-item>
    <ion-popover #popover [keepContentsMounted]="true">
      <ng-template>
        <app-popover-content>
          <ion-datetime #datePicker id="datetime" presentation="year" [showDefaultButtons]="false"></ion-datetime>
        </app-popover-content>
      </ng-template>
    </ion-popover>

    <ion-card-content *ngIf="dashboard.cardWinnerByYear.content.length > 0">
      <ion-item *ngFor="let movie of dashboard.cardWinnerByYear.content">
        <ion-label>{{ movie.id }} - {{ movie.title }}</ion-label>
        <ion-label> Year {{ movie.year }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>